* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth ;
  }

  body {
    font-family: "Righteous", cursive;
  }

  .header {
    background-color: #3d72b4;
  }
  .container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    font-size: 35px;
    color:white;
  }

  .brand {
    margin-left: 10px;
    font-size: 30px;
    color:white;
  }

  .ham-icon {
    margin-right: 10px;
  }
  
  .mob-drawer {
    position: absolute;
    height: fit-content;
    width: 100%;
    padding: 5px;
    z-index: 3;
    background-color: #3d72b4;
    display: none;
  }

  .desktop-nav {
    display: none;
  }

  .nav-links {
    margin: 10px 10px;
    padding: 5px;
    list-style: none;
    background: #f857a6; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ff5858,
      #f857a6
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ff5858,
      #f857a6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 20px;
    border-radius: 10px; 
  }
  .nav-links > a {
    text-decoration: none;
    color: white;
  }

  .loc-container {
    z-index: 2;
    height: 300px;
    background: #dc2424; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #4a569d,
      #dc2424
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #4a569d,
      #dc2424
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    font-size: 35px;
    color: white;
    font-weight: 400;
  }

  .user-location {
    padding:30px 5px 30px 5px;
    font-size: 30px;
    color: white;
    font-weight: 400;
    font-family: "Righteous", cursive;
  }

  .search-form {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    background-color: white;
  }

  .user-city {
    width: 75%;
    height: 50px;
    padding: 5px;
    font-size: 20px;
    border: none;
  }

  .user-city:focus {
    border: none;
    outline: none;
  }

  .user-country {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .search-botton {
    overflow: hidden;
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: cornflowerblue;
    padding: 10px 0 5px 0;
  }

  .main-container {
    background: #525252; 
    background: -webkit-linear-gradient(
      to right,
      #3d72b4,
      #525252
    );
    background: linear-gradient(
      to right,
      #3d72b4,
      #525252
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 20px;
  }

  .today-date {
    text-align: center;
    margin-bottom: 30px;
  }

  .today-date > span {
    background: #f857a6;
    background: -webkit-linear-gradient(
      to right,
      #ff5858,
      #f857a6
    ); 
    background: linear-gradient(
      to right,
      #ff5858,
      #f857a6
    ); 
    color: white;
    font-size: 22px;
    padding: 5px 10px 10px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .weather-container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .weather-infos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .today-weather {
    width: 50%;
    height: max-content;
    background: #4a569d;
    border: 2px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 30px;
  }

  .weather-logo {
    display: block;
    width: 130px;
    margin-left: auto;
    margin-right: auto;

  }

  .weather-main {
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
    text-align: center;
  }

  .temperature-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 100px;
    color: wheat;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .today-desc {
    width: 100%;
    height: max-content;
    background: #4a569d;
    border: 2px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .weather-desc {
    text-align: center;
    font-size: 20px;
    font-family: "Righteous", cursive;
    color: white;
    margin: 0 15%;
    margin-bottom: 20px;
  }
  .all-info {
    width: 100%;
    height: max-content;
    background: #4a569d;
    border: 2px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
  }

  .all-info-cols {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .info-list > li {
    list-style: none;
    font-size: 15px;
    font-family: "Righteous", cursive;
    color: white;
  }

  .error-container {
    flex: 1;
    text-align: center;
    font-size: 40px;
    background-color: #f857a6;
    padding: 20px;
    color: antiquewhite;
  }

  .copyright {
    padding: 25px 0;
    text-align: center;
    font-size: 25px;
    font-family:"Righteous", cursive;
    background-color: #4a569d;
    color: white;
  }
  .copyright>a {
    color:#ecc3c3;
    text-decoration: none;
  }

  @media only screen and (min-width: 1024px) {
    .header-wrapper {
      height: 80px;
    }
    .desktop-nav {
      display: block;
      font-size: 25px;
    }
    .nav-links {
      font-size: 27px;
    }
    .mob-drawer {
      display: none !important;
    }

    .nav-list { 
      display: flex;
    }

    .mobile-nav {
      display: none !important;
    }

    .loc-container {
      height: 440px;
    }

    .user-location {
      font-size: 50px;
      padding-top: 60px;
    }

    .search-form {
      margin-top: 20px;
      width: 50%;
  }

  .user-city {
    width: 80%;
  }

  .user-country {
    margin-top: 20px;
    font-size: 30px;
  }
    .today-date > span {
      font-size: 40px;
    }

    .weather-main-data {
      font-size: 40px;
      text-align: center;
    }
    
    .temp-main-data {
      font-size: 40px;
      text-align: center;
      
    }

    .weather-container {
      display: flex;
      justify-content: center;
    }
    
    .headings {
      font-size: 50px;
    }
    .weather-desc {
      font-size: 35px;
    }
    .info-list > li {
      font-size: 25px;
    }

    
  }
  @media only screen and (min-width: 1920px) {
    .header-wrapper {
      height: 110px;
    }
    .desktop-nav {
      display: block;
      font-size: 100px;
    }

    .brand {
      margin-left: 40px;
      font-size: 60px;
      color:white;
    }

    .nav-links {
      font-size: 40px;
    }

    .user-location {
      font-size: 70px;
      padding-top: 60px;
    }
    .search-form {
      margin-top: 20px;
      width: 50%;
  }

  .user-city {
    width: 80%;
  }

  .user-country {
    margin-top: 20px;
    font-size: 50px;
  }

  .weather-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .today-date > span {
      font-size: 50px;
    }

  .weather-main-data {
      font-size: 60px;
      text-align: center;
    }
    
  .temp-main-data {
      font-size: 60px;
      text-align: center;
      
    }
    
    .headings {
      font-size: 60px;
    }

    .weather-desc {
      font-size: 50px;
    }
    .info-list > li {
      font-size: 35px;
    }

    .error-container {
      font-size: 60px;
    }

    .copyright {
      font-size: 45px;  
    }
    
    
  }